<!DOCTYPE html>
<html>
<head><title>Sala dos Professores</title></head>
<body>
    <h1 style="color: green;">Sala dos Professores</h1>
    <p>Área restrita para docentes. Dados sigilosos aqui.</p>
    <a href="/alunos">Tentar acessar área dos alunos (Teste de Segurança)</a>
    <br><br>
    <a href="/logout">Sair</a>
</body>
</html>